html, body, #container {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
body {
  padding-top: 63px;
}
input[type="radio"], input[type="checkbox"] {
  margin: 0;
}
#sidebar {
  display: none;
  width: 250px;
  height: 100%;
  max-width: 100%;
  float: left;
  overflow-y: auto;
}
#map {
  width: auto;
  height: 100%;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
#loading {
  position: absolute;
  width: 220px;
  height: 19px;
  top: 50%;
  left: 50%;
  margin: -10px 0 0 -110px;
  z-index: 20001;
}
#features {
  margin: 0px;
  border: none;
  border-radius: 0px;
  -webkit-box-shadow: none;
    box-shadow: none;
}
#sidebar-hide-btn {
  margin-top: -2px;
}
#aboutTabsContent {
  padding-top: 10px;
}
.progress-bar-full {
  width: 100%;
}
.white {
  color: #FFFFFF;
}
.panel-heading{
   width: 250px;
}
.panel-body{
  width: 250px;
}
.feature-row {
  cursor: pointer;
  width: 250px;
}
.sidebar-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}
.sidebar-table {
  position: absolute;
  width: 100%;
  top: 103px;
  bottom: 0px;
  overflow: auto;
}
.leaflet-control-layers {
  overflow: auto;
}
.leaflet-control-layers label {
  font-weight: normal;
  margin-bottom: 0px;
}
.leaflet-control-layers-list input[type="radio"], input[type="checkbox"] {
  margin: 2px;
}
.table {
  margin-bottom: 0px;
}
.navbar .navbar-brand {
  font-weight: bold;
  font-size: 25px;
  color: #FFFFFF;
}

.navbar .navbar-brand img {
  height: 35px;
  margin-top: -8px;
}
.navbar-collapse.in {
  overflow-y: hidden;
}
.navbar-header .navbar-icon-container {
  margin-right: 15px;
}
.navbar-header .navbar-icon {
  line-height: 50px;
  height: 50px;
}
.navbar-header a.navbar-icon {
  margin-left: 25px;
}
.typeahead {
  background-color: #FFFFFF;
}
.tt-dropdown-menu {
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px 4px 4px 4px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  margin-top: 4px;
  padding: 4px 0;
  width: 100%;
  max-height: 300px;
  overflow: auto;
}
.tt-suggestion {
  font-size: 14px;
  line-height: 20px;
  padding: 3px 10px;
}
.tt-suggestion.tt-cursor {
  background-color: #0097CF;
  color: #FFFFFF;
  cursor: pointer;
}
.tt-suggestion p {
  margin: 0;
}
.tt-suggestion + .tt-suggestion {
  border-top: 1px solid #ccc;
}
.typeahead-header {
  margin: 0 5px 5px 5px;
  padding: 3px 0;
  border-bottom: 2px solid #333;
}
.has-feedback .form-control-feedback {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
}
@media (max-width: 992px) {
  .navbar .navbar-brand {
    font-size: 18px;
  }
}
@media (max-width: 767px){
  #sidebar {
    display: none;
  }
  .url-break {
    word-break: break-all;
    word-break: break-word;
    -webkit-hyphens: auto;
      hyphens: auto;
  }
  .dropdown-menu a i{
    color: #FFFFFF;
  }
}
/* Print Handling */
@media print {
  .navbar {
    display: none !important;
  }
  .leaflet-control-container {
    display: none !important;
  }
}

/* Table of Contents */
.leaflet-control-layers-group-name {
  font-weight: bold;
}
.leaflet-control-layers-group {
  margin-top: 10px;
  margin-bottom: 5px;
}

input[type=checkbox].leaflet-control-layers-selector {
  /* indent sub-layers from the heading */
  margin-left: 10px;
}

.info {
  font-size: 12px;
  color: #727272;
}

.identifyResults {
  margin-bottom: 15px;
}

.identifyResult:hover {
  background-color: #e9e9e9;
}

.identifyLayer li {
  margin-top: 15px;
}

.primaryField {
  font-weight: bold;
}

/* button to remove the geocode marker */
.geocoderRemove {
  position: absolute;
  top: 5px;
  right: 5px;
}

/* Query widget */

#ajaxLoading {
  display: none;
  background: url(../img/loading-bar.gif) no-repeat top center;
  min-height: 15px;
  width: 100%;
  position: absolute;
}

/*#chkQueryExtent {
  position: absolute;
  padding-top: 10px;
}*/

/* pagination tweaks */
div.dataTables_wrapper div.dataTables_paginate ul.pagination{
  justify-content: center;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
  background-color: #727272;
  border-color: #727272;
}

.pagination>li>a, .pagination>li>span {
  color: #727272;
}

.pagination>li>a, .pagination>li>span {
  padding: 2px 6px;
}

/* Harmony address search */
#addressSearch {
  z-index: 1001;
  position: absolute;
  top: 60px;
  left: 50px;
  width: 250px;
}

.arcgisSearch .searchClear {
  right: 6px;
  position: absolute;
  z-index: 1001;
  margin-top: 7px;
  color: #727272;
}

#btnClearAddressSearch {
  display: none;
}

div.dt-buttons {
  float: right;
  margin-top: 15px;
}

.buttons-csv {
  font-size: 10px;
}

.outsideScaleThreshold {
  color: #727272;
  opacity: 0.5;
}

/* Customised clusters. These classes are used when the default clustering styles are over-written using
   a clusterIconClass in the layer definition */
.cluster-25 {
  /* 1 digit */
  width: 20px !important;
  height: 20px !important;
  border-radius: 20px !important;
  position: absolute;
  top: -4px;
  left: -6px;
}
.cluster-35 {
  /* 2 digits */
  margin-top: 5px !important;
  margin-left: 9px !important;
  margin-top: 7px !important;
  width: 30px !important;
  height: 30px !important;
  border-radius: 30px !important;
  position: absolute;
  top: -7px;
  left: -3px;
}

.cluster-35 span{
  /* 2 digits */
  position: absolute;
  left: 8px;
  top: 0px;
}

.cluster-45{
  /* 3 digits */
  margin-top: 5px !important;
  margin-left: 9px !important;
  margin-top: 7px !important;
  width: 40px !important;
  height: 40px !important;
  border-radius: 40px !important;
  position: absolute;
  top: -4px;
  left: -6px;
}

.cluster-45 span{
  /* 3 digits */
  position: absolute;
  left: 10px;
  top: 5px;
}

.cluster-55{
  /* 4 or more digits */
  margin-top: 5px !important;
  margin-left: 9px !important;
  margin-top: 7px !important;
  width: 50px !important;
  height: 50px !important;
  border-radius: 50px !important;
  position: absolute;
  top: -4px;
  left: -6px;
}

.cluster-55 span{
  /* 3 digits */
  position: absolute;
  left: 10px;
  top: 10px;
}

/* ensure that the clusters are rounded correctly */
.leaflet-marker-icon.leaflet-interactive, .leaflet-image-layer.leaflet-interactive, .leaflet-pane > svg path.leaflet-interactive {
  border-radius: 100px;
}

/* Table of Contents tweaks */
.leaflet-control-layers-toggleButtons {
  text-align: center;
}

.leaflet-control-layers-toggleButtons button {
  margin-left: 5px;
  margin-right: 5px;
}